# Telegram bot token from @BotFather
BOT_TOKEN="8646599020:AAG8nTLhyWoTLP_5CFjnZFNhRKCTqAQ0z0g"

# Telegram numeric user ID of the administrator
ADMIN_ID=8564176944
ADMIN_USERNAME=Murodjondev

# Payment details shown to users; AI recommendations require these too
CARD_NUMBER=5614681280757356
CARD_NAME="Suyunov Murodjon Muhammad O`g'li"

# Daily free movie views for non-Premium users
DAILY_FREE_LIMIT=3

PREMIUM_USERS = [8564176944]
ALL_USERS = set( 8234785808)
USER_INFO ={ 8234785808:{"name": "Suyunov Murodjon Muhammad O`g'li"}}  